body{
    padding-left: 2px;    
    padding-top: 30px;
    padding-bottom: 20px;   
    
}   
div footer p{
    padding-left: 20px; 
}
/* Set padding to keep content from hitting the edges */

table{
    font-size: 11px; 
}

.navbar-toggle {
    position: relative;
    margin-left: 15px;
    float: left;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
