<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd straszny</title>
</head>
<body>
    <hgroup>       
        <h2>Coś nie robi!</h2>
    </hgroup>    
</body>
</html>
